<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/style.css">
</head>
  <div class="topnav">
    <a class="active" href="index.html">Latitude</a>
    <div class="topnav-right">
        <a href="#plots.html">Plots</a>
        <a href="#comparison.html">Comparison</a>
        <a href="datan.html">Data</a>

    </div>
  </div>
 <body>

<!-- MAIN (Center website) -->
<div class="main">

  

  <div class="row">
    <div class="column">
      <div class="content">
        <h1>Summary: Latitude vs. X</h1>
        <hr>
        <img src="mountains.jpg" alt="Mountains" style="width:100">
        <h3>My Work</h3>
        <p>Lorem ipsum..</p>
      </div>
    </div>
    <div class="column"> 
      <div class="content">
        <h1>Summary: Latitude vs. X</h1>
        <hr>
        <img src="lights.jpg" alt="Lights" style="width:100%">
        <h3>My Work</h3>
        <p>Lorem ipsum..</p>
      </div>
    </div>
   
  
 
  </body>

  </html>